.mdc-button {
  text-transform: none !important;
}

.mdc-drawer {
  background-color: var(--m3-back);
}

.mdc-drawer--modal + .mdc-drawer-scrim {
  background-color: rgba(0, 0, 0, 0.32);
}

.mdc-dialog .mdc-dialog__scrim {
  background-color: rgba(0, 0, 0, 0.32);
}

.mdc-dialog .mdc-dialog__surface {
  background-color: var(--m3-back);
}

.mdc-drawer--modal {
  box-shadow: none;
}

.mdc-text-field__input {
  margin-left: 10px;
}

.smui-badge.smui-badge--color-secondary {
  background-color: var(--m3-inverse-primary);
}
